// COLORS
$primary-color: #b9bbbd;
$secondary-color: #304021;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #304021; // For Headings

// FONT SIZE
$default-font-size: 1.8rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
